.titleCardDetail {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.boxCardDetail {
  display: flex;
  justify-content: space-around;
}

.imgCardDetail {
  width: 600px;
  height: 600px;
  border-radius: 10px;
}

.textDetailDescription {
  width: 600px;
  margin-top: 20px;
}

.cardDetailPrice {
  margin-top: 30px;
}

.boxButtonsDetail {
  margin-top: 30px;
}

@media (max-width: 1150px) {
  .imgCardDetail {
    width: 500px;
  }
  .textDetailDescription {
    width: 400px;
  }
}

@media (max-width: 950px) {
  .imgCardDetail {
    width: 400px;
  }
  .textDetailDescription {
    width: 350px;
  }
}

@media (max-width: 800px) {
  .boxCardDetail {
    flex-direction: column;
    align-items: center;
  }
  .imgCardDetail {
    width: 450px;
    margin-bottom: 10px;
  }
  .textDetailDescription {
    width: 450px;
  }
}

@media (max-width: 475px) {
  .imgCardDetail {
    width: 350px;
    height: 300px;
  }
  .textDetailDescription {
    width: 350px;
  }
}

@media (max-width: 375px) {
  .imgCardDetail {
    width: 300px;
  }
  .textDetailDescription {
    width: 300px;
  }
}
